.side-nav-container {
  box-shadow: 0 0 10px rgba(82, 82, 82, 0.658);
  width: 100% !important;
  min-width: 200px !important;
  background-color: rgb(40, 41, 48);
  height: 100%;
  border-bottom-right-radius: 1rem;
  .column {
    color: white;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    .logo {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      img {
        display: flex;
        width: 4rem;
      }
      .title {
        display: flex;
        justify-content: center;
        color: white;
        width: 100%;
      }
    }
    hr {
      color: white;
      height: 0.1rem;
    }
  }
}

.side-nav-tab-container {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dropdown-text {
  cursor: pointer;
  padding: 0.2rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.842);
  text-decoration: none;
}
.text {
  padding: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
  span {
    margin-left: 0.5rem;
  }
}
.text:hover {
  color: white;
}
.dropdown-text:hover {
  color: white;
}
.active {
  background: linear-gradient(
    to left bottom,
    rgb(64, 64, 255, 0.979),
    rgb(0, 0, 153)
  );
  border-radius: 5px;
}
