.main-container {
  height: 100vh;
  overflow-x: hidden;
  .main-container-row {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
  }
  .content-column {
    flex-wrap: wrap;
    width: calc(100% - 200px);
    align-content: flex-start;
    position: relative;
  }
}
.side-nav-bar-column {
  width: 200px;
}
.no-wrap {
  flex-wrap: nowrap;
}
