.warning-field-row{
    display: flex !important;
    width:100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    .field-block{
        margin: 0.5rem;
        display: inline-flex !important;
        
    }
}