.slice-card{
    display: flex;
    width: 25%;
    min-width: 200px;
    height: 120px;
    border-radius: 10px;
    background: linear-gradient(to left bottom, white, rgb(219, 219, 219));
    flex-flow: column;
    padding: 10px;
    transition: 0.3s ease-in-out;
}
.slice-card:hover{
    transform: scale(110%);
    box-shadow: 0 0 10px rgba(2, 2, 2, 0.322);
}