@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
.margin-top{
    margin-top: 1rem;
}

.margin-left{
    margin-left: 2vw;
  }

.margin-right{
    margin-right: 2vw;
  }

.side-nav .background-color{
  background-color: rgb(20, 31, 56);
}

.pills-color{
  color:white;
}

.nav-link{
  color: white;
}

.side-nav-tab{
  padding:0.3rem;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
}

.side-nav-container{
  @extend.col-auto;
  @extend.col-xl-2;
  @extend.px-md-2; 
  @extend.px-0; 
  @extend.bg-dark;
}
.side-nav-column{
  @extend.flex-column;
  @extend.align-items-center; 
  @extend.align-items-sm-start; 
  @extend.px-3; 
  @extend.pt-2; 
  @extend.text-white;
  @extend.min-vh-100;
}
.side-nav-logo-container{
  @extend.d-flex; 
  @extend.flex-column; 
  @extend.align-items-center; 
  @extend.align-items-sm-start; 
  @extend.pb-3; 
  @extend.mb-md-0; 
  @extend.me-md-auto; 
  @extend.text-white; 
  @extend.text-decoration-none;
}
.side-nav-tab-container{
  @extend.w-100;
  @extend.d-flex; 
  @extend.side-nav-tab; 
  @extend.align-items-center; 
  @extend.justify-content-center; 
  @extend.justify-content-sm-start;
}
.side-nav-undertab-container{
  @extend.d-flex; 
  @extend.side-nav-tab; 
  @extend.pointer;
}
.side-nav-tab-active{
  background-color:rgb(0, 56, 187);
  border-radius: 0.5rem;
}

.pointer{
  cursor: pointer;
  user-select: none;
}

